{% extends "layout.html" %}

{% block title %}
    Deck Builder
{% endblock %}

{% block main %}
<!-- 1. pick class -->
<div id="pick-a-class">
    <ul>
        <li class="deck-class 14">Demon Hunter</li>
        <li class="deck-class 2">Druid</li>
        <li class="deck-class 3">Hunter</li>
        <li class="deck-class 4">Mage</li>
        <li class="deck-class 5">Paladin</li>
        <li class="deck-class 6">Priest</li>
        <li class="deck-class 7">Rogue</li>
        <li class="deck-class 8">Shaman</li>
        <li class="deck-class 9">Warlock</li>
        <li class="deck-class 10">Warrior</li>
    </ul>
</div>
<!-- filtered search -->
<div id="filter-buttons" class="hidden">
    <div class="attack">
        <button id="attack-btn" class="filter-btn">Attack</button>
        <div class="drop-down">
            <ul>
                <li class="filter-selection">Any Attack</li>
                <li class="filter-selection">Attack: 0</li>
                <li class="filter-selection">Attack: 1</li>
                <li class="filter-selection">Attack: 2</li>
                <li class="filter-selection">Attack: 3</li>
                <li class="filter-selection">Attack: 4</li>
                <li class="filter-selection">Attack: 5</li>
                <li class="filter-selection">Attack: 6</li>
                <li class="filter-selection">Attack: 7</li>
                <li class="filter-selection">Attack: 8</li>
                <li class="filter-selection">Attack: 9</li>
                <li class="filter-selection">Attack: 10+</li>
            </ul>
        </div>
    </div>
    <div class="health">
        <button id="health-btn" class="filter-btn">Health</button>
        <div class="drop-down">
            <ul>
                <li class="filter-selection">Any Health</li>
                <li class="filter-selection">Health: 0</li>
                <li class="filter-selection">Health: 1</li>
                <li class="filter-selection">Health: 2</li>
                <li class="filter-selection">Health: 3</li>
                <li class="filter-selection">Health: 4</li>
                <li class="filter-selection">Health: 5</li>
                <li class="filter-selection">Health: 6</li>
                <li class="filter-selection">Health: 7</li>
                <li class="filter-selection">Health: 8</li>
                <li class="filter-selection">Health: 9</li>
                <li class="filter-selection">Health: 10+</li>
            </ul>
        </div>
    </div>
    <div class="cardType">
        <button id="card-type-btn" class="filter-btn">Card Type</button>
        <div class="drop-down">
            <ul>
                <li class="filter-selection">Any Type</li>
                <li class="filter-selection">Hero</li>
                <li class="filter-selection">Minion</li>
                <li class="filter-selection">Spell</li>
                <li class="filter-selection">Weapon</li>
            </ul>
        </div>
    </div>
    <div class="manaCost">
        <button id="mana-cost-btn" class="filter-btn">Mana Cost</button>
        <div class="drop-down">
            <ul>
                <li class="filter-selection">Any Mana Cost</li>
                <li class="filter-selection">Mana Cost: 0</li>
                <li class="filter-selection">Mana Cost: 1</li>
                <li class="filter-selection">Mana Cost: 2</li>
                <li class="filter-selection">Mana Cost: 3</li>
                <li class="filter-selection">Mana Cost: 4</li>
                <li class="filter-selection">Mana Cost: 5</li>
                <li class="filter-selection">Mana Cost: 6</li>
                <li class="filter-selection">Mana Cost: 7</li>
                <li class="filter-selection">Mana Cost: 8</li>
                <li class="filter-selection">Mana Cost: 9</li>
                <li class="filter-selection">Mana Cost: 10+</li>
            </ul>
        </div>
    </div>
    <div class="minionType">
        <button id="minion-type-btn" class="filter-btn">Minion Type</button>
        <div class="drop-down">
            <ul>
                <li class="filter-selection">Any Type</li>
                <li class="filter-selection">All</li>
                <li class="filter-selection">Beast</li>
                <li class="filter-selection">Demon</li>
                <li class="filter-selection">Dragon</li>
                <li class="filter-selection">Elemental</li>
                <li class="filter-selection">Mech</li>
                <li class="filter-selection">Murloc</li>
                <li class="filter-selection">Pirate</li>
                <li class="filter-selection">Quilboar</li>
                <li class="filter-selection">Totem</li>
            </ul>
        </div>
    </div>
</div>
<div>
    <button id="reset">Reset</button>
</div>
<div id="current-filters">
    <div class="selected-class"></div>
</div>

<div class="form-group">
    <input class="form-control" id="deck-name" name="deck name" placeholder="Deck Name" type="text">
</div>
<div>
    <button id="save-deck">Save Deck</button>
</div>

<!-- full screen on right side of screen on desktop, controlled dynamically by JS -->
<div class="main-content">
    <div id="current-deck">
        <div class="wrapper">

        </div>
    </div>

    <!-- under card filters, data (imgs) inserted by JS dynamically -->
    <!-- container div -->
    <div id="search-results">
        <!-- wrapper div -->
        <div class="wrapper">

        </div>
    </div>
</div>
<!-- check off different filters to see different cards -->
<!-- add to deck button -->
<!-- deck on side of screen with mouse over to enlarge cards -->
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename = 'builder.js') }}"></script>
{% endblock %}
