<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <nav>
        <a href="/"><img src="../static/images/Hearthstone_logo.jpg" alt="Hearthstone logo title"></a>
        {% block nav %}{% endblock %}
    </nav>
    <header>Inn Keepers Daughter</header>
    <main>{% block main %}{% endblock %}</main>
    {% block scripts %}{% endblock %}
</body>
</html>