{% extends "layoutroot.html" %}

{% block title %}
    Login
{% endblock %}

{% block main %}
<div>
    {{ error }}
</div>

<form action="/login" method="post">
    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
    </div>
    <div class="form-group">
        <input class="form-control" name="password" placeholder="Password" type="password">
    </div>
    <div>
        <button class="btn btn-primary" type="submit">Log In</button>
        
    </div>
</form>
<div>
    <a href=/register><button class="btn btn-primary">Register</button></a>
</div>
{% endblock %}