{% extends "layout.html" %}

{% block title %}
Profile
{% endblock %}

{% block main %}
<div>
    <a href="/battlenet_login"><button>Sign into Your Battle.net Account</button></a>
</div>
<div>
    <!-- <h2>Profile: {{ battle_tag }}</h2> -->
    <div>
        <!-- <h3>Match'em Up - Personal Best: {{ match_pb }}</h3> -->
    </div>
    <div>
        <h3>Saved Hearthstone Decks</h3>
        <!-- make search function 
                    user input field and search(submit) button POST to / route-->
        <!-- allow user to delete any decks from this page 
                    add CSS buttons for user to click on for displaying a prompt to delete or make changes to the deck?-->
        <!-- { loop through saved hearthstone decks for user display } -->
        <div>
            <input type="radio" class="deck-selection" id="demonhunter" name="deck-class" value="Demon Hunter">
            <label for="demonhunter">Demon Hunter</label>
            <input type="radio" class="deck-selection" id="druid" name="deck-class" value="Druid">
            <label for="druid">Druid</label>
            <input type="radio" class="deck-selection" id="hunter" name="deck-class" value="Hunter">
            <label for="hunter">Hunter</label>
            <input type="radio" class="deck-selection" id="mage" name="deck-class" value="Mage">
            <label for="mage">Mage</label>
            <input type="radio" class="deck-selection" id="paladin" name="deck-class" value="Paladin">
            <label for="paladin">Paladin</label>
            <input type="radio" class="deck-selection" id="priest" name="deck-class" value="Priest">
            <label for="priest">Priest</label>
            <input type="radio" class="deck-selection" id="rogue" name="deck-class" value="Rogue">
            <label for="rogue">Rogue</label>
            <input type="radio" class="deck-selection" id="shaman" name="deck-class" value="Shaman">
            <label for="shaman">Shaman</label>
            <input type="radio" class="deck-selection" id="warlock" name="deck-class" value="Warlock">
            <label for="warlock">Warlock</label>
            <input type="radio" class="deck-selection" id="warrior" name="deck-class" value="Warrior">
            <label for="warrior">Warrior</label>
            <input type="radio" class="deck-selection" id="anyclass" name="deck-class" value="AnyClass">
            <label for="anyclass">Any Class</label>
        </div>
        <div>
            <label for="search">Enter deck name or leave blank to return all decks of the class picked above</label>
            <input autocomplete="off" id="search" name="search" placeholder="Deck Name" type="text">
        </div>
        <div>
            <button class="btn btn-primary" id="search-decks">Search</button>
        </div>
        <div class="wrapper">
            <div id="deck-count"></div>
            <div id="returned-decks">

            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename = 'profile.js') }}"></script>
{% endblock %}